hr {
  border: 0;
  clear:both;
  width: 96%;               
  background-color:white;
  height: 1px;
}

html {
  width: 100vw;
  height: 100vh;
  background-color: black;
  letter-spacing: 0px;
  font-family: Futura Light;
  color: white;
  overflow-x: hidden;
  overflow-y: scroll;
}

.about{
  background: transparent;
  border: none;
  margin-left: 3em;
}
.model{
  height: 80vh;
  min-width: 600px;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.name{
  min-width: 150px;
}

.infotitle{
  width: 100%;
}

.additionalinfo{
  min-width: 500px;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: -9em;
  margin-left: -20em;
}

#pfp{
  height: 50em;
  width: auto;
}

#pfpcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
}

@font-face {
  font-family: Futura;
  src: url('src/fonts/Futura.woff');
}

@font-face {
  font-family: Futura Light;
  src: url('src/fonts/Futura Light.woff');
}

.name {
  font-family: Futura;
  letter-spacing: 8px;
  font-size: 40px;
  line-height: normal;
}

#infotitle{
  font-size: 40px;
  font-family: Futura;
}

.activities{
  display: flex;
  flex-direction: column;
  column-gap: 1px;
  align-items: left;
  font-size: 24px;
}

#skills-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: -100px 10% 40px 10%;
}

#menu-skills{
  min-width: 300px;
  display: flex;
  flex-direction: column;
}

#languages{
  display: flex;
  width: 270px;
}

.skill-img{
  margin: 0px 25px;
  width: 50px;
  height: auto;
  overflow: hidden;
}

.skill-icons{
  width: 500px;
  max-height: 0;
  overflow: hidden;
  align-items: center;
  background-color: black;
}

.skill-icons.show{
  width: 500px;
  height: auto;
  max-height: 99999px;
}

.menu-skill{
  display: flex;
  justify-content: space-between;
  width: 100%;
  color: white;
}

.cardtitle{
  font-family: Futura;
  font-size: 36px;
  color: black;
  margin-top: 1em;
}

.carddescription{
  font-family: Futura;
  font-size: 24px;
  color: black;
  margin-top: 1em;
}

.date{
  font-family: Futura;
  font-size: 12px;
  color: black;
  margin-top: 1em;
}

.project{
  background-color: white;
  width: 720px;
  height: auto;
  float: left;
  clear: both;
  margin: 50px 50px;
  border-radius: 10px;
}

.project:nth-of-type(2n){
  float: right;
  margin-right: 50px;
}

.project-info{
  color: black; 
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin-top: 1em;
}

.project-made-with{
  width: 90%;
  display: flex;
  flex-direction: row;
  justify-content: flex-end;
  align-items: baseline;
}

.project-important-info{
  min-width: 200px;
  max-width: 300px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  align-items: baseline;
  white-space: nowrap;
}

.project-description{
  padding-left: 30px;
  width: 100%;
  color: black;
}

.project-name{
  padding-left: 30px;
  min-width: 180px;
}

.project-date{
  padding-left: 30px;
}

.made-with-skill{
  margin: 0px 30px;
  margin-right: 30px;
  display: flex;
}

.project-image-container{
  display: flex;
  justify-content: center;
  width: 100%;
}

.project-image{
  margin-top: 10%;
  max-width: 80%;
  max-height: 80%;
  overflow: hidden;
  margin-bottom: 10%;
}

#container-contact{
  margin-left: 40px;
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.contact-icons img{
  margin-right: 50px;
  width: 50px;
  height: 50px;
  margin-top: 10px;
  margin-bottom: 100px;
}