.expandable-skill{
  width: 45vw;
}
hr {
  clear:both;
  width: 96%;               
  background-color:#a44444;
  height: 1px;
}

html {
  color: white;
  width: 100vw;
  height: 100vh;
  background-color: #181717;
  letter-spacing: 0px;
  font-family: Brockmann;
  font-weight: 100;
  color: white;
  overflow-x: hidden;
  z-index: 2;
}

.about{
  background: transparent;
  border: none;
}

.model{
  height: 80vh;
  min-width: 600px;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.name{
  min-width: 150px;
}

.infotitle{
  width: 100%;
}

.about{
  width: 100vw;
  display: flex;
  justify-content: center;
}

@font-face{
  font-family: Brockmann;
  src: url('/public/fonts/Brockmann.woff');
}

.name {
  letter-spacing: 8px;
  font-size: 40px;
  line-height: normal;
}

.about-wrapper h1{
  font-size: 64px;
  margin-left: 6vw;
}

.about-wrapper h2{
  font-size: 24px;
}

#skills-wrapper{
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  margin: -100px 5% 40px 5%;
}

#languages{
  display: flex;
  width: 270px;
}

.skill-img{
  margin: 0px 25px;
  width: 50px;
  height: auto;
  overflow: hidden;
}

.skill-icons{
  width: 500px;
  max-height: 0;
  overflow: hidden;
  align-items: center;
  background-color: black;
}

.skill-icons.show{
  width: 500px;
  padding-bottom: 10px;
  height: auto;
  max-height: 99999px;
}

.menu-skill{
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: white;
}

.fraction{
  position: absolute;
  -webkit-transform:scale(2, 2); 
  opacity: 0.5;
}

.fraction h1{
  margin-top: 16vh;
}

.project-container{
  height: 250vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-top: 5vh;
}

.project-name{
  font-size: 180px;
}

.project-desc h3{
  position: absolute;
  margin-top: -6vh;
}

.project-info{
  display: flex;
  justify-content: space-between;
}

.overlay-elements{
  color: white;
  max-width: 35vw;
  margin-right: -18vw;
}

.project{
  margin: 8vh 5vh;
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

.name-and-skills{
  color:white;
  margin-left: -18vw;
}
.project-desc{
  width: 35vw;
}

.contact-links{
  background: white;
  -webkit-text-stroke-width: 0.5px;
  -webkit-text-stroke-color: white;
  width: 0%;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  transition: 0.5s ease-in-out;
  font-size: 200px;
  float: left;
  clear: both;
  height: auto;
  float: left;
  clear: both;
  border-radius: 10px;
  margin: 0.1vh 15vw;
}

a{
  text-decoration: none;
}

.contact-links:hover {
  width:100%;
}

.container-contact{
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 10%;
}

.contacts a{
  float:left;  
  clear:both; 
}

.contacts a:nth-of-type(2n){
  float:right;  
}

#pfp{
  width: 20vw;
  position: absolute;
  margin-left: 35vw;
  margin-top: -35vh;
}

.contact-container{
  margin-top: 40vh;
}

.call-to-action{
  margin-left: 10vw;
}

@media only screen and (1920px>width>1280px) 
{
  .about{
    background: transparent;
    border: none;
    margin-bottom: 0vh;
  }
  #pfp{
    margin-left: 57vw; 
  }
}

@media only screen and (width>1920px) 
{
  .about{
    background: transparent;
    border: none;
    margin-bottom: -20vh;
  }

  .expandable-skill{
    width: 50vw;
  }
  
  .project{
    margin: 8vh 5vw;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
  }

  .project-desc{
    width: 25vw;
  }
  .fraction{
    position: absolute;
    -webkit-transform:scale(2, 2); 
    opacity: 0.5;
  }

  .fraction h1{
    margin-top: 7.75vh;
  }
  .project-container{
    height: 250vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin-top: 5vh;
  }

  .project-name{
    font-size: 240px;
  }
  .contact-links{
    margin: 0.1vh 29.5vw;
  }
  .project-desc{
    height: 100%;
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: flex-end;
    margin-bottom: 10vh;
  }
  .fraction{
    margin-right: 5vw;
    margin-bottom: -1.5vh;
  }
}