html {
  width: 100vw;
  height: 100vh;
  background-color: black;
  letter-spacing: 0px;
  font-family: Futura Light;
  color: white;
  overflow-x: hidden;
  -ms-overflow-style: none;
  scrollbar-width: none;
}

::-webkit-scrollbar {
  display: none;
}

.about{
  background: transparent;
  border: none;
  margin-left: 3em;
}
.model{
  height: 80vh;
  min-width: 600px;
}

.title{
  display: flex;
  justify-content: center;
  align-items: center;
}

.additionalinfo{
  min-width: 500px;
  display: flex;
  justify-content: center; 
  align-items: center;
  margin-top: -9em;
  margin-left: -20em;
}

#pfp{
  height: 35em;
  width: auto;
}

#pfpcontainer{
  display: flex;
  justify-content: center;
  align-items: center;
  min-width: 100px;
}

@font-face {
  font-family: Futura;
  src: url('src/fonts/Futura.woff');
}

@font-face {
  font-family: Futura Light;
  src: url('src/fonts/Futura Light.woff');
}

.name {
  font-family: Futura;
  letter-spacing: 8px;
  font-size: 40px;
  line-height: normal;
}

#infotitle{
  font-size: 40px;
  font-family: Futura;
}

.activities{
  display: flex;
  flex-direction: column;
  column-gap: 1px;
  align-items: left;
  font-size: 24px;
}

.skill{
  display: flex;
  flex-direction: column;
  background-color: rgba(255, 255, 255, 0.1);
  height: 260px;
  width: 300px;
  border-radius: 10px;
  border: 1px solid black 0.1;
  justify-content: center;
  align-items: center;
  color: white;
  font-family: Futura;
  font-size: 24px;
}

#skills{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:10px;
  justify-content: center;
}

.skilllogo{
  height: 160px;
  width: auto;
}

.container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  height: 200px;
  max-width: 360px;
}

#timeline{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  gap:10px;
  justify-content: center;
}